<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Produto</title>
</head>
<body>
<h1>Produto</h1>

<table>
    <thead>
        <tr>
            <th>Produto</th>
            <th>Preço</th>
            <th>Estoque</th>
        </tr>
    </thead>
    <tbody>

        <tr>
            <td>
                <p><a href="{% url 'index' %}">{{produto.nome}}</a></p>
            </td>
            <td>
                <p>{{produto.preco}}</p>
            </td>
            <td>
                <p>{{produto.estoque}}</p>
            </td>
        </tr>
    </tbody>
</table>
</body>
</html>