<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django Signals Crash Course</title>
</head>
<body>
    <h3>Logged In As: {{ request.user }}</h3>
    <div style='display: flex;'>
        <form method="POST" action="/logout/">
            {% csrf_token %}
            <input type='submit' value='Logout'>
        </form>
    
        <form method="POST" action="/delete/{{ request.user.pk }}/">
            {% csrf_token %}
            <input type='submit' value='Delete User'>
        </form>
    </div>
    
</body>
</html>